*{
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
.header{
  display: flex;
  align-items: center;
}
.mode-selector{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
}
